.position-relative {
  position: relative !important;
}

body {
  margin: 0;
  font-family: Montserrat, -apple-system, blinkmacsystemfont, segoe ui, roboto, helvetica neue, arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  text-align: left;
  background-color: #ffdb67 !important;
  overflow-x: hidden;
}

.bg-yellow {
  background-color: #ffdb67 !important;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  padding: 1rem 0;
  background-color: #ffdb67;
  z-index: 1030;
  /*border-bottom: 1px solid black;*/
}

.header-brand {
  height: 4rem;
  display: block;
}

.header-brand > img {
  display: block;
  height: 100%;
  width: auto;
}

.jumbotron-img {
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  border: 2px solid #000;
  margin-bottom: 4rem;
}

a {
  color: #000;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}

.container-fluid-limited {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

.sections-nav-counter {
  display: inline-block;
  width: 1.75rem;
  font-weight: 400;
  font-size: 1rem;
}

.sections-nav-link.active {
  color: rgba(0, 0, 0, .5) !important;
}

.sections-nav-container {
  position: fixed;
  z-index: 1030;
  width: max-content;
  top: 80px;
  right: 141.5px;
  left: 1400px;
  bottom: -32px;
  background-color: #ffdb67;
}

.sections-nav-link {
  display: block;
  position: relative;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-section {
  display: block;
  color: #000000;
  letter-spacing: .5px;
  text-decoration: none;
}


.nav-section:hover {
  color: rgba(0, 0, 0, 0.5) !important;
}

.underline:hover {
  text-decoration: none !important;
}

.underline:hover {
  text-decoration: underline !important;
}

.title-name {
  position: relative;
  font-size: 8rem;
  font-weight: 800;
  line-height: 1;
  padding-bottom: 1.75rem;
  margin-bottom: 2rem;
}

.title-name:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 6rem;
  border-bottom: 2px solid #000
}

.sections-nav-info {
  padding-top: 3rem;
  padding-left: 2rem;
  color: #000000;
}

.sections-nav-item {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}

.sections-nav-item:hover {
  border-left: 2px solid rgb(0, 0, 0);
}

a {
  color: #000000 !important;
  text-decoration: none !important;
}

.subtitle-subject {
  font-size: 1.3rem;
  font-weight: 700;
}

.section-body {
  /*width: 100%;*/
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-title {
  font-size: 5rem;
  margin-bottom: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card-counter {
  margin-bottom: 2rem;
  line-height: 1;
  font-size: 4rem;
  color: rgba(0, 0, 0, .4);
  display: flex;
  align-items: baseline;
}

.card {
  position: relative;
  display: flex;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0);
  background-clip: border-box;
  border: 2px solid rgba(0, 0, 0, .125);
  border-radius: 0;
}

.card-title {
  font-weight: bold;
}

.card-text {
  font-size: 1.15rem;
}

.section-next:hover .section-next-icon {
  -webkit-animation: next-icon-bounce .365s ease-in-out 2;
  animation: next-icon-bounce .365s ease-in-out 2
}


.section-next-counter {
  margin-right: .75rem;
  font-size: .875rem;
  color: rgba(0, 0, 0, .4)
}

.section-next-label {
  margin-right: .75rem;
  font-size: .75rem;
  font-weight: 700;
  text-transform: uppercase
}

.section-next-icon {
  display: inline-block;
  width: 2.5rem;
  height: 1rem;
  margin-bottom: -.625rem;
  background: rgba(0, 0, 0, 0) url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40.743' height='17.966'%3E%3Cstyle%3E%3C/style%3E%3Cg id='Group_1' data-name='Group 1' transform='translate(-272.157 -1036.73)' fill='none' stroke='%23000' stroke-width='2'%3E%3Cpath d='M294.686 1044.529l8.754 8.754 8.754-8.754' style='animation:bounce .25s ease infinite'/%3E%3Cpath id='path-2' d='M313.385 1053.424V1038.6H282.1' transform='translate(-9.946 -.872)'/%3E%3C/g%3E%3C/svg%3E") no-repeat 50%/100% 100%
}

.section {
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
}

.section-footer {
  padding-bottom: 1rem;
}

.section-sub-header {
  margin-top: -5rem;
}

.with-header {
  padding-top: 5rem;
}


/*.sections-nav-container {*/
/*  position: fixed;*/
/*  left: calc((100% - 1680px)/2 + 1290px);*/
/*  width: 360px;*/
/*}*/

@media (min-width: 1200px) {
  /*.sections-nav-container {*/
  /*  display: block;*/
  /*  top: 5rem;*/
  /*  left: calc(75% + 30px);*/
  /*  right: auto;*/
  /*  width: calc(25% - 60px);*/
  /*  transform: none;*/
  /*  transition: none;*/
  /*}*/

}

@media (min-width: 768px) {
  /*.sections-nav-container {*/
  /*  width: 20rem;*/
  /*  right: 0;*/
  /*  left: auto;*/
  /*}*/
}

@media (min-width: 576px) {
  /*.sections-nav-container {*/
  /*  -ms-transform: translate(calc(100% + 60px));*/
  /*  transform: translate(calc(100% + 60px));*/
  /*}*/
  .container-fluid, .container-fluid-limited, .container-lg, .container-md, .container-sm, .container-xl {
    padding-right: 30px;
    padding-left: 30px;
  }
}


.progress2 {
  border-radius: 30px;
  height: 2px;
  background-color: rgba(0, 0, 0, .2);
}

.progress-bar2 {
  height: 2px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar2 {
  width: 85%;
  background-color: #000000;
  animation: progressAnimation 1s;
}

@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #000000;
  }
  100% {
    width: 85%;
    background-color: #000000;
  }
}

.progress-bar2-75 {
  height: 2px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved-75 .progress-bar2-75 {
  width: 75%;
  background-color: #000000;
  animation: progressAnimation75 1s;
}

@keyframes progressAnimation75 {
  0% {
    width: 5%;
    background-color: #000000;
  }
  100% {
    width: 75%;
    background-color: #000000;
  }
}

.progress-bar2-65 {
  height: 2px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved-65 .progress-bar2-65 {
  width: 65%;
  background-color: #000000;
  animation: progressAnimation65 1s;
}

@keyframes progressAnimation65 {
  0% {
    width: 5%;
    background-color: #000000;
  }
  100% {
    width: 65%;
    background-color: #000000;
  }
}

.progress-bar2-55 {
  height: 2px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved-55 .progress-bar2-55 {
  width: 55%;
  background-color: #000000;
  animation: progressAnimation55 1s;
}

@keyframes progressAnimation55 {
  0% {
    width: 5%;
    background-color: #000000;
  }
  100% {
    width: 55%;
    background-color: #000000;
  }
}

.progress-bar2-45 {
  height: 2px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved-45 .progress-bar2-45 {
  width: 45%;
  background-color: #000000;
  animation: progressAnimation45 1s;
}

@keyframes progressAnimation45 {
  0% {
    width: 5%;
    background-color: #000000;
  }
  100% {
    width: 45%;
    background-color: #000000;
  }
}

.progress-bar2-30 {
  height: 2px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved-30 .progress-bar2-30 {
  width: 30%;
  background-color: #000000;
  animation: progressAnimation30 1s;
}

@keyframes progressAnimation30 {
  0% {
    width: 5%;
    background-color: #000000;
  }
  100% {
    width: 30%;
    background-color: #000000;
  }
}

.img-tools {
  max-width: 100%;
  height: 100%;
  object-fit: cover;

}

.tools div span {
  display: block;
  z-index: -1;
  width: 100%;
  color: black;
  font-size: 1.2rem;
  text-align: center;
  transition: .3s ease-in-out;
  opacity: 0;
  font-weight: 700;
}

.tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

figure {
  overflow: hidden;
}

figure:hover + span {
  opacity: 1;
}

.tools-hover div {
  width: 160px;
  height: 100%;
  padding: 0 0 100px 0;
  margin: 0;
}

.tools-hover figure:hover img {
  display: flex;
  flex-direction: row;
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}

@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

.text-subject {
  font-size: 1.2rem;
}

.projects-content {
  padding: 1rem 0;
  background: #ffdb67;
}

.card {
  border: unset !important;
}

.card-img-top {
  height: 280px;
}

.mb-10 {
  margin-bottom: 5rem
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ffdb67 inset !important;
}

.btn-primary {
  color: #000 !important;
  background-color: rgba(0, 0, 0, 0) !important;
  border: 2px solid #000 !important;
}

.btn {
  text-transform: uppercase !important;
  display: inline-block !important;
  font-weight: 700 !important;
  color: #000;
  text-align: center;
  vertical-align: middle !important;
  cursor: pointer !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  padding: 0.75rem 3rem !important;
  font-size: .875rem !important;
  line-height: 1.5 !important;
  border-radius: 0.375rem !important;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out !important;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out !important;
}

.btn-primary:hover {
  color: #ffdb67 !important;
  background-color: black !important;
}

.activeBorder {
  border-left: black solid 2px;
}

.activeText {
  color: rgba(0, 0, 0, 0.5) !important;
}

.presentation {
  padding-top: 3rem;
}

@media (max-width: 767px) {

  .section-title {
    margin-bottom: 2rem !important;
  }

  .presentation {
    padding-top: 1rem;
  }

  .text-subject {
    font-size: 1.2rem;
  }

  .subtitle-subject {
    font-size: 1.5rem;
  }

  .title-name {
    font-size: 2.5rem;
  }

  .contact {
    margin-bottom: 2rem;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .title-name {
    font-size: 5rem;
  }

  .text-subject {
    font-size: 1.6rem;
  }

  .subtitle-subject {
    font-size: 2rem;
  }

  .jumbotron-img {
    width: 15rem;
    height: 15rem;
    border-radius: 8rem;
  }
}

@media (max-width: 1024px) {
  .card {
    background-color: unset !important;
  }

  .card-img-top {
    opacity: 1 !important;
  }

  .section-body {
    padding-bottom: 1rem;
  }

  .tools {
    justify-content: space-between;
    align-items: unset;
  }

  .tools-hover div {
    width: 120px;
    margin: 0;
    padding: 0 5px 50px 0;
  }

  .header {
    border-bottom: 1px solid black;
  }
}


@supports (-webkit-touch-callout: none) {
  @media (max-width: 767px) {
    .tools-hover div {
      height: 240px;
    }

    .img-tools {
      max-width: 100%;
      height: auto;
    }

    figure {
      max-width: 100%;
      height: auto;
    }
  }
}
