.with-header {
  padding-top: 5rem;
}
.position-relative {
  position: relative !important;
}
body {
  margin: 0;
  font-family: Montserrat, -apple-system, blinkmacsystemfont, segoe ui, roboto, helvetica neue, arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  text-align: left;
  background-color: #ffdb67 !important;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  padding: 1rem 0;
  background-color: #ffdb67;
  z-index: 1030;
  border-bottom: 1px solid black;
}

.header-brand {
  height: 4rem;
  display: block;
}

.header-brand > img {
  display: block;
  height: 100%;
  width: auto;
}

.jumbotron-img {
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  border: 2px solid #000;
  margin-bottom: 4rem;
}

a {
  color: #000;
  text-decoration: none;
  background-color: rgba(0,0,0,0);
}

.container-fluid-limited {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

.sections-nav-counter {
  display: inline-block;
  width: 1.75rem;
  font-weight: 400;
  font-size: 1rem;
}

.sections-nav-link.active {
  color: rgba(0,0,0,.5);
}

.sections-nav-container {
  position: fixed;
  z-index: 1030;
  width: 100%;
  left: 0;
  transform: translate(calc(100% + 30px));
  transition: -webkit-transform .35s ease;
  background-color: #ffdb67;
}


@media (min-width: 1740px) {
  .container-fluid-limited {
    width: 1680px;
  }
  .sections-nav-container {
    position: fixed;
    left: calc((100% - 1680px)/2 + 1290px);
    width: 360px;
  }
}

@media (min-width: 1200px) {
  .sections-nav-container {
    display: block;
    top: 5rem;
    left: calc(75% + 30px);
    right: auto;
    width: calc(25% - 60px);
    transform: none;
    transition: none;
  }

  .sections-nav-animated .sections-nav-item {
    -ms-transform: translate(100%);
    transform: translate(100%);
    -webkit-animation: sections-nav-item .35s cubic-bezier(.75,0,.45,1.1) forwards;
    animation: sections-nav-item .35s cubic-bezier(.75,0,.45,1.1) forwards;
    animation-delay: 0s;
  }
  .sections-nav-animated::before {
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    transform-origin: top;
    animation: sections-nav .5s cubic-bezier(.75,0,.45,1.1) .5s forwards;
  }
  .sections-nav::before {
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    top: 0;
    bottom: 0;
    border-right: 2px solid rgba(0,0,0,.2);
  }
}

@media (min-width: 768px) {
  .sections-nav-container {
    width: 20rem;
    right: 0;
    left: auto;
  }
}

@media (min-width: 576px){
  .sections-nav-container {
    -ms-transform: translate(calc(100% + 60px));
    transform: translate(calc(100% + 60px));
  }

  .container-fluid, .container-fluid-limited, .container-lg, .container-md, .container-sm, .container-xl {
    padding-right: 30px;
    padding-left: 30px;
  }
}
.section-body {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
